<h1>Listado de Productos</h1>
 
<table>
  <tr>
    <th>Nombre</th>
    <th>Precio</th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
    </tr>
  <% end %>
</table>