<h1>Listado de Productos</h1>
 
<table>
  <tr>
    <th>Nombre</th>
    <th>Precio</th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Nuevo Producto', new_product_path %>
<%= link_to 'Inicio', controller: 'wellcome' %>